<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AirBnB</title>
    <!-- below in href i give directly the name of css file in public folder because i already locate them in app2.js file -->
    <link rel="stylesheet" href="airbnb-main-page.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to AirBnB</h1>
    </header>

    <main>
      <a href="/host/add-home">Add To Home</a>
    </main>
  </body>
</html>
